__pycache__
.gitignore
/.vscode
/django_start.code-workspace
.ipynb_checkpoints
/docker/redis/appendonly.aof
/docker/web/venv
docker/redis/dump.rdb
/docker/minio/data
/docker/web/secret_endpoints.py
/docker/web/base/migrations
migrations
/docker/web/base/static