django
numpy
pandas
psycopg2
scikit-learn
django_redis
snowflake_sqlalchemy
matplotlib
plotly

django-bootstrap-breadcrumbs
django_bootstrap4
django_sass_processor
django_analytical
django_fontawesome_5
django_libsass
django_environ
django_extensions

django-filer
django-mptt
easy_thumbnails
django-polymorphic
Pillow

jupyterlab
vega
papermill

pytest
flake8
black
pylint

mitosheet3
pymc3
pycaret
torch
pyro-ppl
minio